#int {
  
    text-align: absolute;
    padding-top: 30px;
    padding-left: 690px;
    font-style:italic;
    font-family:Arial, Helvetica, sans-serif;
  
    
  }
  
  #foren{
    position: absolute;
    left:40%;
    padding-top:70px ;
  }
  
  #host{
    height:35px;
    width:70%;
  }
  
  
  #tik{
    position: absolute;
    left:45%;
    padding-top:15px ;
    font-size:x-large;
  }
  
  
  
  #date{
    height:50px;
    width:130%;
    margin-left: 21px;
  }
  #dat{
    height:50px;
    width:125%;
    margin-left: 22px;
  }
  #dat1{
    height:50px;
    width:160%;
    margin-left: 22px;
  }
  #dat7{
    height:50px;
    width:160%;
    margin-left: 22px;
  }
  #m6{
    height:50px;
    width:100%;
    margin-left: 21px;
  }
  #mon
  {
    
      margin-left: 140px;
      margin-top: 15px;
      background-color: rgb(255, 0, 0);
    
  }
  .background-img {  
    min-height: 700px;  
    background-size: cover;      
    background-image: url(  
      "https://images.pexels.com/photos/262048/pexels-photo-262048.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");  
background-size: cover;
}
